{% extends "article/base.html" %}
{% load bootstrap4 %}

{% block title %}文章详情{% endblock title %}

{% block content %}
  <!-- 文章详情 -->
  <div class="container">

	  <div class="row">
		  <!-- 标题 -->
		  <h1 class="mt-4 mb-4 col-12">{{ article.title }}</h1>
		  <!-- 作者 -->
		  <div class="alert alert-secondary col-12" role="alert">作者：{{ article.author }}
			  <a href="#" onclick="confirm_safe_delete()">删除文章</a>
			  <a href="{% url 'article:article_update' article.id %}">编辑文章</a>
		  </div>
		  <form action="{% url 'article:article_safe_delete' article.id %}"
		        style="display:none;"
		        id="safe_delete"
		        method="post">
			  {% csrf_token %}
			  <button type="submit"></button>
		  </form>
		  <!-- 正文 -->
		  <div class="col-12">
			  <p>{{ article.content }}</p>
		  </div>
	  </div>

  </div>

<script>
	// 删除文章的函数
    function confirm_safe_delete() {
        // 调用layer弹窗组件
        layer.open({
            // 弹窗标题
            title: "确认删除",
            // 正文
            content: "确认删除这篇文章吗？",
            // 点击确定按钮后调用的回调函数
            yes: function(index, layero) {
                // 指定应当前往的 url
                $('form#safe_delete button').click();
                layer.close(index);
            }
        })
    }
</script>

{% endblock content %}
